.section-heading {
	color:@darkBlue;
	font-size: 1.15em;
	line-height: 1.2;
	margin-bottom: 1.3em;
	.respond-md({
		font-size: 1.5em;
	});
}
.section-content {
	margin-bottom: 2em;
	margin-top:0;
	.respond-md({
		font-size: 1.15em;
	});
	
}
.section-title {
	.opensans-regular();
	color:@darkBlue;
}
.referer-link {
	color:@darkBlue;
	margin-top: 1em;
	display: block;
	.opensans-regular();
	span {
		text-transform: uppercase;
	}
	.respond-md({
		margin-top: 5em;
	});
}