.the-looking-glass {
	position: relative;
	.blur(0px);
	.transition(0.3s);
	&.active {
		.blur(20px);
		.transition(0.3s);
	}
	.respond-xs-sm-only({
		.blur(0px);
		.transition(0);
		&.active {
			.blur(0px);
			.transition(0);
		}
	});
}


.navigation-modal-tiles {
	position: absolute;
	left:0;
	top:0;
	visibility: hidden;
	height:0;
	z-index: 15;
	width: 100%;

	.respond-xs-sm-only({
		display:none;
		visibility:hidden;
		height:0;
	});
	&.active {
		height:auto;
		visibility: visible;
	}
}
.navigation-modal-tile-row {
	padding-top: 7em;
	text-align: center;
}
.navigation-modal-tile {
	position: relative;
	z-index:5;
	display:inline-block;
	width: 200px;
	height: 200px;
	margin-right: 2em;
	margin-bottom: 2em;
	background-color:@darkBlue;
	color:@white;
	vertical-align: top;
	opacity:0;
	.transition(0.2s);
	.opensans-regular();
	&.active {
		opacity:1;
		.transition(0.2s);
	}
	&.fake-tile {
		visibility: hidden;
		opacity:0;
	}
	&:first-child {
	}
	&:hover, &.active {
		color:@white;
	}
	.tile-icon {
		display:block;
		height:65%;
		position:relative;
		img {
			vertical-align: bottom;
			margin-left: auto;
			margin-right: auto;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 35%;
		}
	}
	.tile-title {
		height:35%;
		display:block;
		text-align: center;
		font-size: 1.2em;
	}
}
.tiles-companion {
	.tiles-companion-subcontainer {
		margin:auto;
		display:block;
		width:auto;
	}
	.go-left {
		//float:left;
	}
	.go-right {
		//float:left;
	}
	br {
		clear:both;
	}
	.fake-tile {
		display:none;
		.responsive(1250px, {
			display:inline-block;
		});
	}
}