// Navigation Styles for the Companion Site
#header {
	background-color:@darkGray;
	vertical-align: top;
	display:block;
	height:50px;
	position: relative;
	.respond-md({
		height:96px;
	});
	.navigation-toggle {
		position: relative;
		height: 50px;
		background: @black;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		border:0;
		padding: 0 1em;
		&:focus, &:active {
			outline:0;
		}
		.icon-bar {
			display: block;
			height: 3px;
			margin: 4px 0;
			background-color: #FFF;
			width: 23px;
		}
	}
	.navigation-item {
		vertical-align: top;
		height:100%;
		position:relative;
		cursor:pointer;
	}
	.navigation-logo {
		display:inline-block;
		padding: 1em 1.5em;
		height: 50px;
		.respond-md({
			height:96px;
		});
		.transition(0);
		img {
			width: 156px;
			vertical-align: middle;
			.transition(0);
		}
	}
	.navigation-solution-finder {
		display:block;
		position:absolute;
		left:0;
		bottom:-40px;
		height:40px;
	}
	.navigation-item-list {
		position: absolute;
		top:100%;

		.respond-md({
			vertical-align: top;
			display:inline-block;
			height:100%;
		});
		li {
			display:block;
			.respond-md({
				display:table-cell;
			});
			a {
				height: 50px;
				display: table-cell;
				vertical-align: middle;
				padding-left:1em;
				padding-right:1em;
				font-size:1.15em;
				.respond-md({
					height:96px;
				});
			}
		}
	}


}