.resource-container {
	margin-bottom: 3em;
}

.resource-section {
	background-color:@white;
	padding: 1em 1.5em;
}
.resource-header {
	margin:0;
	padding: 0.75em 0 0.75em 0;
	font-size: 1.15em;
	
	.respond-md({
		font-size: 1.75em;
		.opensans-light();
	});

}
.resource-download {
	background-color:@xlightGray;
	display:block;
	margin-bottom: 15px;
	width:100%;
	padding:0.25em;
	height: 100%;
	
	margin-left:auto;
	margin-right:auto;
	position: relative;
	.respond-md({
		margin-bottom:1.5em;
	});
	.respond-lg({
		width:85%;
	});
}
.resource-icon {
	display: table-cell;
	vertical-align: middle;
	width: 18%;
	font-size: 4em;
	text-align: center;
	color: #888;
	.respond-md({
		width: 20%;
	});
	.responsive-max(450px, {
		display:block;
		text-align: center;
		width: 100%;
	});
}
.resource-icon-divider {
	display:table-cell;
	vertical-align: middle;
	height:inherit;
	span {
		display:block;
		width:2px;
		background-color:#d4d4d4;
		vertical-align: middle;
		height:80%;
		top: -0.25em;
		position:relative;
	}
	.responsive-max(450px, {
		display:block;
		height: 2px;
		margin: 0.5em 0 0.1em;
		span {
			width:80%;
			height:2px;
			margin:auto;
		}
	});
}
.resource-info {
	display:table-cell;
	vertical-align: middle;
	width:100%;
	padding: 1em 0.5em 1.5em 1.5em;
	.responsive-max(450px, {
		display:block;
		width:80%;
		padding: 0.5em 0;
		margin: auto;
	});
}
.resource-title {
	color:@darkBlue;
	display:block;
	margin:0;
	font-size: 1em;
	.opensans-semibold();
	.respond-md({
		font-size:1.2em;
	});
}
.resource-description {
	display:block;
	margin:0;
	color:@black;
	font-size: 0.875em;
	.respond-md {
		font-size:1em;
	}
}

.resources-container-industry {
	.resource-section {
		.shadow-normal();
	}
}
.resources-alternate-container-industry {
	padding-top:3em;
}
.resources-container-home-services {
	.respond-xs-sm-only ({
		.resource-section {
			padding:0;
		}
	});
	.respond-lg({
		.resource-download {
			width:100%;
		}
	});
}
.resources-container-products {
	padding-top:2em;
	padding-bottom: 3em;
	.resource-download {
		
		.shadow-normal();
		.respond-lg ({
			width:100%;
		});
	}
}


.resource-alternate {
	background-color:transparent;
	.resource-download {
		width:48%;
		display:inline-block;
		background-color:@white;
		.shadow-normal();
		&:nth-child(odd) {
			float:right;
		}
	}
}