extends ../layouts/default
//- Use the Companion Site Default Template

block content

	article.container-fluid
		.visible-xs.visible-sm
			span.background-shadow.from-right.lighter
		.visible-md.visible-lg
			span.background-shadow.from-right
		.row.header-space-small
		.container
			if data.industry
				article.row.industry-page-content
					.col-xs-12.col-md-5.industry-content
						+industryContent(data.industry, false)
					.col-xs-12.col-md-7
						+mediaBuffet(data.industry.media_buffet)
					.visible-xs.visible-sm
						.col-xs-12.resources-container-industry
							+resources(data.industry)
			.visible-md.visible-lg
				.resources-alternate-container-industry
					+resources-alternate(data.industry)
	article.container-fluid.container-fluid-services-navigation
		.container
			span.background-shadow.from-right.to-foreground
			.row
				.col-xs-12

					h3.services-list-title SERVICES
			+service-list-companion(global_data.services, true, data.industry)
