.industry-title {
	.opensans-light();
	margin-bottom: 0;
	text-transform: uppercase;
}
.industry-container {
	.content-container {
		padding-left:1.2em;
		z-index:50;
		.showroom-screen({
			padding-left:15px;
		});
	}
}
.industry-attributes {
	list-style-type: none;
	padding:0;
	margin:1em 0 1em 0;
	li {
		display:inline-block;
		color:@lightGray;
		font-size:1.15em;
		.opensans-regular();
	}
}
.industry-top-row {
	height:440px;
	> div {
		height:inherit;
	}
}
.industry-bottom-row {
	height: 298px;
	> div {
		height:inherit;
	}
}