.media-buffet {
	display:block;
	white-space: nowrap;
	position: absolute;
	height: 390px;
	width: 90%;
	padding-top: 20%;

	@offsetX: 5px;
	@offsetY: 8px;
	> div > div {
		position:absolute;
		.shadow-normal();
	}
	:nth-child(1) > div {
		right:@offsetX;
		bottom:@offsetY;
	}
	:nth-child(2) > div {
		left:@offsetX;
		bottom:@offsetY;
	}
	:nth-child(4) > div {
		right:@offsetX;
		top:@offsetY;
	}
	:nth-child(5) > div {
		left:@offsetX;
		top:@offsetY;
	}

	.media-buffet-container-full, .media-buffet-container-half {
		width:50%;
		height:50%;
		display:inline-block;
		position:relative;
		white-space: normal;
		vertical-align: top;		
	}
	.showroom-screen({
		height: 800px;
		width: 90%;
		padding-top: 13%;
		
	});

	.media-title {
		font-size:1em;
		margin:0;
		position:absolute;
		right:7px;
		bottom:7px;
		text-transform: uppercase;
		color:@white;
		.opensans-regular();
		strong {
			.opensans-bold();
		}
		p {
			margin:0;
		}
	}
	.video, .story {
		a {
			width: 100%;
			height: 100%;
			display:block;
			background-position: center;
			background-size:150%;
			background-size:cover;
			cursor:pointer;
			img {
				display: block;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				width: 20%;
			}
		}
	}
	.video {
		width: 100%;
		//height: 100%;
		padding-bottom: 56.25%;
		a {
			position:absolute;
		}
		.showroom-screen({
			width: 100%;
			//height: 75%;
		});
	}
	.story {
		width: 80%;
		height: 95%;
		float: right;
		a {
			height:100%;
		}
		.showroom-screen({
			width: 75%;
			height: 75%;
			clear:both;
		});
	}
	.values {
		background-color:@lightBlue;
		padding:1.5em 1em;
		width: 80%;
		color:@white;
		font-size: 0.85em;
		.opensans-regular();
		strong {
			.opensans-semibold();
		}
		em strong {
			.opensans-semibold-italic();
		}
		.showroom-screen({
			font-size: 1em;
		});
	}
	.facts {
		background-color:@white;
		color:@lightGray;
		width: 10em;
		position: relative;
		padding:1em 1em 2.5em;
		height:auto;
		position: absolute;
		> p {
			font-size: 0.95em;
			line-height: 1.2;
		}
		> p > strong {
			color:@lightBlue;
			display:block;
			font-size:3.2em;
			line-height: 1;
			margin-bottom: 5px;
			.opensans-light();
		}
		p {
			margin:0;
		}
		.media-title {
			color:@lightGray;
		}
		.showroom-screen({
			height:auto;
		});
	}

	
}