.service-container {
	background-color:@xlightGray;
	.showroom-screen({
		background-color:@xsomewhatlightGray;
	});
}
.service-title {
	.showroom-screen({
		font-size: 3.2em;
	});
}
.service-icon {
	display:block;
	img {
		width: 4em;
	}
}