/*

	A note to my future self, or the next developer here,
	I apologize for the messiness, and positioned absolute
	content. It was a very quick refactor and we shuffled everything
	around 3-4 times as more and more was added. Maybe one day
	we can clean this back up to best practices. :D

*/
.settings-page {
	.header-space-settings {
		height: 55px;
		.showroom-screen({
			height: 75px;
		});
		&.second-column {
			height: 118px !important;
			.showroom-screen({
				height: 180px !important;
			});
		}
	}
	&.settings-page-selection {
		background-color:@xlightGray;
		.showroom-screen({
			background-color:@xsomewhatlightGray;
		});
	}
	&.settings-page-options {
		.showroom-screen({
			//background-color:@xsomewhatlightGray;
		});
		.header-space-settings {
			height: 150px;
		}
		.settings-page-options-content {
			display:block;
			.showroom-screen({
				display:none;
			});
		}
	}
	.settings-alert-box-container {
		display:block;
		position:absolute;
		top:0;
		right:0;
	}
	.settings-alert-box {
		display:block;
		opacity:0;
		height:0;
		.transition(0.3s);
		padding:0;
		color:#fff;
		.opensans-regular();
		background-color:@orange;
		.showroom-screen({
			font-size:1.3em;
		});
		&.failure {
			background-color:red;
		}
		&.transferred {
			background-color:@lightBlue;
		}
		&.active {
			opacity:1;
			height:auto;
			padding:0.5em 0.7em;
			margin-bottom:0.5em;
			.transition(0.3s);
		}
	}
	.settings-title {
		.industry-title();
	}
	.settings-section-title {
		color:@darkBlue;
		text-transform: uppercase;
		font-size:1.3em;
		display:block;
		.opensans-regular();
		.showroom-screen({
			font-size:1.5em;
			margin-bottom: 0.7em;
		});
	}
	.settings-section-content {
		margin-bottom:1em;
	}
	button {
		padding:0.5em 2.5em;
		font-size: 1.25em;
	}
	.settings-filter-container {
		position: absolute;
		bottom: -532px;
		width: 100%;
		height:304px;
		.showroom-screen({
			bottom: -780px;
			height: 420px;
		});
		.settings-filter-item-container {
			padding:0;
			&.active {
				.settings-filter-item {
					.transition(0.1s);
					background-color:@lightBlue;
					color:@white;
				}
			}
		}
		.settings-filter-item {
			color:@white;
			background-color:@darkBlue;
			height:65px;
			width: 95%;
			margin-bottom: 11px;
			padding: 7px 9px;
			position:relative;
			font-size: 1.15em;
			.shadow-normal();
			.showroom-screen({
				height:120px;
				width: 90%;
				margin-bottom: 20px;
				font-size: 1em;
				.transition(0.1s);
			});
			.settings-filter-icon {
				position: absolute;
				top: 0;
				left: 0;
				font-size: 3.5em;
				padding-left: 0.1em;
				padding-top: 0.1em;
				display:none;
				.showroom-screen({
					display:block;
				});
			}
			span {
				width: 70%;
				display: block;
				line-height: 1.2;
				
				.showroom-screen({
					.transition(0.1s);
					font-size: 1.5em;
					display: block;
					vertical-align: bottom;
					position: absolute;
					bottom: 7px;
					width: 55%;
					line-height: 1.2;
				});
			}
		}
		.settings-filter-title-container {
			padding:0;
		}
		.settings-filter-title {
			.settings-filter-item();
		 	background-color:transparent;
		 	padding: 7px 9px 7px 0;
		 	color:@darkBlue;
		 	font-size: 1.8em;
		 	.shadow-remove();
		 	span {
		 		.showroom-screen({
		 			bottom: 40px;
		 			font-size: 1.8em;
		 		});
		 	}
		}
	}
	.settings-options-divider {
		display:block;
		border-top: 1px solid rgba(171, 171, 171, 0.51);
		margin: auto;
		width: 105%;
		left: -2%;
		position: absolute;
		bottom: -550px;
		.showroom-screen({
			bottom:-800px;
		});
	}
	.settings-save-container {
		position: absolute;
		bottom: -627px;
		width: 97.5%;
		.showroom-screen({
			bottom: -887px;
		});
		button {
			float:right;
		}
	}
	.trade-show-name {
		.showroom-screen({
			height: 52px;
			font-size: 1.2em;
		});
	}
	.settings-action-button {
		padding: .5em 2.5em;
		width: 160px;
	}
	.settings-save {
		background-color:#444;
	}
	.settings-fields {
		position: absolute;
		width: 97%;
		top: 60px;
		.showroom-screen({
			top:100px;
		});
	}
	.map-overlay-dropdown {
		position: absolute;
		top:0%;
		right: 0%;
		.showroom-screen({
		});
		button {
			clear:both;
			padding: 0 12px;
		}
		.custom-dropdown-current {
			.opensans-regular();
			color:@black;
			font-size: 0.85em;
		}
		&.inline-dropdown {
			position: relative;
			.dropdown-toggle {
				width: 100%;
				background-color: #FFF !important;
				text-align: left;
				margin: 0;
				padding: 0;
				.icon-arrow {
					float: right;
					padding-right: 12px;
					img {
						width:20px;
					}
					.showroom-screen({
						padding-top: 10px;
						img {
							width:29px;
						}
					});
				}
				.custom-dropdown-current {
					padding: 8px 8px;
					color: #777;
					.showroom-screen({
						padding: 12px 8px;
						font-size: 1em;
					});
				}
			}
			.dropdown-menu {
				width: 100% !important;
				li:first-child {
					border-top:1px solid #bbb;
				}
				li {
					a {
						padding:12px 20px 11px 14px;
					}
				}
			}
		}
		.dropdown-menu {
			width: 242px;
			&.scrolling-dropdown {
				width: 242px;
				height: 250px;
				overflow-y: scroll;
				.showroom-screen({

				});
			}
			&.scrolling-dropdown::-webkit-scrollbar {
			    display: none;
			}
			.showroom-screen({
				width: 250px;
			});
			.active {
				a, &:hover, &:focus {
					background-color:@lightBlue !important;
					color:@white !important;
				}
			}
			li {
				a {
					white-space: normal;
					padding: 6px 20px 6px 20px;
					color:#888;
					font-size:14px;
					.showroom-screen({
						padding:12px 20px 12px 20px;
						font-size:16px;
					});
					&:hover, &:focus {
						background-color:@white;
						outline: 0;
						color:@black;
					}
				}
			}
		}
	}
}