mixin videoModal
	.modal.csf-modal.csf-video-modal.fade(id="video_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		button.btn.btn-default.global-close.csf-content-close(type="button" data-dismiss="modal" data-video-close="the_video")
			img(src="/images/close.png")
		video(id="the_video" class="video-js vjs-default-skin" width="inherit" height="inherit" controls preload="none" poster="" data-setup='{"techOrder": ["html5"]}')
			source(src="" type='video/mp4')
			source(src="" type='video/webm')
			p(class="vjs-no-js") To view this video please enable JavaScript, and consider upgrading to a web browser that
				a(href="http://videojs.com/html5-video-support/" target="_blank") supports HTML5 video
			h2.video-title
mixin storyModal
	.modal.csf-modal.csf-story-modal.fade(id="story_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		button.btn.btn-default.global-close.csf-content-close(type="button" data-dismiss="modal" data-video-close="the_story")
			img(src="/images/close.png")
		.story-container
			.story-content
			.story-featured-image
			h2.story-title
	