mixin partnerContent(partner, isShowroom)
	if isShowroom
		h1.partner-title.can-favorite.solution-page-title(data-solutions-slug=partner.slug data-solutions-type='partners')= partner.title
			.coxicon.coxicon_favorites_star_after
	else
		h1.partner-title= partner.title
	p.section-heading= partner.heading
	p.section-content= partner.content