include ../mixins/flash-messages
include ../mixins/auth/auth-forms

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Cox Solution Finder'

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/admin.min.css", rel="stylesheet")
		link(href="/styles/bootstrap-markdown/bootstrap-markdown.min.css", rel="stylesheet")

		block css
		block head
	body
		header
			div(role="navigation").navbar.navbar-default
				.container
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/').glyphicon.glyphicon-home

					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left
							each link in navLinks
								if(link.admin != false)
									li(class=(section == link.key ? 'active' : null)): a(href='/admin' + link.href)= link.label
						ul.nav.navbar-nav.navbar-right
							if user
								if user.canAccessKeystone
									li: a(href='/keystone') Open Keystone
								li: a(href='/admin/me').user.hidden-xs.glyphicon.glyphicon-user
									//- img(src=(user.avatarUrl || '/images/avatar.png'), width=27).img-circle
									=' ' +user.name.first
								li: a(href='/signout' title="Sign Out")
									span.visible-xs Sign out
									span.glyphicon.glyphicon-log-out.hidden-xs
							else
								li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in

		block intro
			+flash-messages(messages)

		block content

		footer.container-fluid
			p Powered by 
				a(href="http://www.maxmedia.com") maxmedia

		if !user
			#modal-auth(tabindex="-1", role="dialog", aria-labelledby="signin", aria-hidden="true").modal.fade
				.modal-dialog
					.modal-content
						+auth-forms({ modal: true, initial: 'signin' })

		
		//- lib
		script(src='/js/lib/jquery/jquery-2.1.1.min.js')
		script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
		//script(src='/js/lib/bootstrap/collapse.js')
		//script(src='/js/lib/bootstrap/dropdown.js')
		script(src='/js/lib/bootstrap/affix.js')
		script(src='/js/lib/bootstrap/modal.js')
		script(src='/js/lib/bootstrap/tab.js')
		script(src='/js/lib/jquery-validation/jquery.validate.min.js')
		script(src='/js/lib/bootstrap-markdown/bootstrap-markdown.js')
		script(src='/js/lib/bootstrap-markdown/to-markdown.js')
		script(src='/js/lib/bootstrap-markdown/markdown.js')			
		script(src='/js/lib/jquery-sortable/jquery-sortable-min.js')
		//- site

		script(src='/js/site/admin.js')


		block js