include site-icons
include validation
include heading
include text-field
include textarea
include s3file
include svg_icon
include boolean
include resource
include media_buffet
include relationship
include markdown
include hero
include stage
include acts
include productFeatures
include html
include htmlTwoFieldTitle

mixin cms-field(item, complexFields)
	- if(item.type == 'heading')
		+heading(item)
	- else if (item.type == 'field' && _.contains(['resource_one', 'resource_two', 'resource_three', 'resource_four', 'media_buffet', 'stage', 'act', 'hero'], item.field.path.split('.')[0]))
		- if(complexFields.length == 0)
			- complexFields.push(item)
		- else if(complexFields[0]['field']['path'].split('.')[0] == item.field.path.split('.')[0] || item.field.options.m_cms.m_group == 'items')
			- complexFields.push(item)
		- else if (complexFields[0]['field']['path'].split('.')[0] != item.field.path.split('.')[0])
			+draw-complexFields(complexFields)
			+cms-field(item, complexFields)
	- else if(item.type == 'field' && item.field.options.m_cms && item.field.options.m_cms.m_group && item.field.options.m_cms.m_group == 'items')
		- if(complexFields.length > 0 && complexFields[0]['field']['options']['m_cms']['m_group'] != 'items')
			+draw-complexFields(complexFields)
		- if(complexFields.length == 0)
			- complexFields.push(item)
		- else if(item.field.options.m_cms.m_group == 'items')
			- complexFields.push(item)
		- else if (item.field.options.m_cms.m_group != 'items')
			+draw-complexFields(complexFields)
			+cms-field(item, complexFields)
	- else
		- if(complexFields.length)
			+draw-complexFields(complexFields)
			+draw-field(item)
		- else
			+draw-field(item)



	
mixin draw-field(item)

		if(item.type == 'field' && item.field.type == 'text' && !item.field.noedit && item.field.options.m_cms)
			+text-field(item)

		else if(item.type == 'field' && item.field.type == 'textarea' && !item.field.noedit && item.field.options.m_cms)
			+textarea(item)

		else if(item.type == 'field' && item.field.type == 's3file' && !item.field.noedit && item.field.options.m_cms)
			+s3file(item)
		else if(item.type == 'field' && item.field.type == 'select' && !item.field.noedit && item.field.options.m_cms && item.field.path.indexOf('svg_icon') >= 0)
			+svg_icon(item)
		else if(item.type == 'field' && item.field.type == 'boolean' && !item.field.noedit && item.field.options.m_cms)
			+boolean(item)
		else if(item.type == 'field' && item.field.type == 'relationship' && !item.field.noedit && item.field.options.m_cms)
			+relationship(item)
		else if(item.type == 'field' && item.field.type == 'select' && !item.field.noedit && item.field.options.m_cms)
			+select(item)
		else if(item.type == 'field' && item.field.type == 'markdown' && !item.field.noedit && item.field.options.m_cms)
			+markdown(item)
		else if(item.type == 'field' && item.field.type == 'html' && !item.field.noedit && item.field.options.m_cms && !item.field.options.m_cms.htmlEditor)
			+htmlTwoFieldTitle(item)
		else if(item.type == 'field' && item.field.type == 'html' && !item.field.noedit && item.field.options.m_cms && item.field.options.m_cms.htmlEditor)
			+html(item)


		//- else if(item.type == 'field')
		//- 	p="## - " + item.field.path
		//- 	p="## - " + item.field.type

mixin draw-complexFields(compfields)

	if (compfields[0]['field']['path'].split('.')[0] == 'media_buffet')
		+media_buffet(compfields, headerDisplayed)
	else if(compfields[0]['field']['path'].split('.')[0] == 'media_buffet')
		+resource(compfields, resourceHeaderDisplayed)
	else if(compfields[0]['field']['path'].split('.')[0] == 'hero')
		+hero(compfields)
	else if(compfields[0]['field']['path'].split('.')[0] == 'stage')
		+stage(compfields)
	else if(compfields[0]['field']['path'].split('.')[0] == 'act')
		+acts(compfields)
	else if(compfields[0]['field']['path'].split('.')[0] == 'item_one')
		+productFeatures(complexFields)
	else 
		+resource(compfields, resourceHeaderDisplayed)
		