mixin industries(item)
	.panel.panel-default
		.panel-heading
			h4 Industries
		.panel-body
			select(name=item.field.path multiple).multi-select.industries
				each industry in data.industries
					- var selected = false
					if(isObjInArray(industry, data.current.get(item.field.path)))
						- selected = true

					option(value=industry.id selected=selected)=industry.title
			.help-block=item.field.options.note