mixin site-icons(m_cms)
	if(m_cms.companion)
		span.coxicon.coxicon-admin-laptop(title="Companion Site")
	if(m_cms.companion && m_cms.showroom)
		span |
	if(m_cms.showroom)
		span.coxicon.coxicon-admin-tv(title="Showroom TV")
		span.coxicon.coxicon-admin-tablet(title="Showroom")

mixin site-icons-key()
	ul
		li.coxicon.coxicon-admin-laptop Companion Site
			- if(data.model.key != 'Map') 
				a(href="#" data-mode="companion").preview Preview
		li.coxicon.coxicon-admin-tv Showroom TV
			- if(data.model.key != 'Map' && data.model.key != 'Connect') 
				a(href="#" data-mode="showroom-tv").preview Preview
		li.coxicon.coxicon-admin-tablet Showroom Tablet
			- if(data.model.key != 'Map' && data.model.key != 'Connect') 
				a(href="#" data-mode="showroom-tablet").preview Preview