mixin site-icons(m_cms)
	if(m_cms.showroom)
		span.coxicon.coxicon-admin-tv(title="Showroom")
	if(m_cms.companion)
		span.coxicon.coxicon-admin-laptop(title="Companion Site")


mixin site-icons-key()
	ul
		li.coxicon.coxicon-admin-laptop Companion Site
		li.coxicon.coxicon-admin-tv Showroom