mixin textarea(item)

	+validations(item.field.options.m_cms.validations)

	.form-group
		label=item.field.label
			+site-icons(item.field.options.m_cms)

		textarea(name=item.field.path data-rules=item.field.options.m_cms.validations autocomplete="off" rows="5" style="height:auto").form-control.validate.textarea=data.current.get(item.field.path)
		p.help-block=item.field.options.note
			+printValidation()