label {
	.coxicon {
		padding:0 5px;
		font-size:25px;
		vertical-align: middle;

		&:nth-last-child(2) {
			padding-right:0;
		}
		&:last-child {
			padding-left:0;
		}
		&:only-child {
			padding:0 5px;
		}
	}
}

.right-rail {
	padding-top:30px;

	&.affix {
		top:20px;
		min-width:360px;
	}
	.admin-buttons {
		border-top:1px solid @gray-lighter;
		border-bottom:1px solid @gray-lighter;
		padding:15px 0 20px 10px;
	}
}
.icon-key {
	ul {
		padding:15px;
		margin-left:0;
		list-style:none;
		list-style-position: inside;

		li {
			font-size:14px;
			&.coxicon:before {
				font-size:25px;
				vertical-align: middle;
			}

			.preview {
				float:right;
			}
		}
	}
}

textarea {
	resize:vertical;
}

input[type="file"] {
	display:block;
	position: absolute;
	left: -9999px;
}

.s3text {
	margin-bottom:10px;
	width:100%;
}

.icon-selector {
	display:none;
}

.icon-choices {
	list-style:none;
	margin:0;
	padding:0;
	display:block;

	li {
		position:relative;
		text-align:center;
		display:inline-block;
		padding:5px;
		font-size:12px;
		width: 16.6%;
		height: 90px;
		margin: 0;
		overflow: hidden;
		word-wrap: break-word;

		&:hover {
			background:@xxlightGray;
		}

		&.selected {
			background:@xlightGray;
		}

		span {
			display:block;
		}

		.coxicon {
			font-size:48px;
			color:@darkBlue
		}
	}
}
.resource {
	.panel-heading {
		position:relative;
		padding:15px 10px 15px 10px;

		h4 {
			padding:0;
			margin:0;
			float:left;
			padding-top:5px;
		}

		button {
			float:right;
		}
	}
}

.media-buffet, .tabbed {
	.mb-tabs {
		padding-top:15px;

		li {
			a {
				border-radius:0 0 0 0;
			}
			&:first-child {
				a {
					border-left:0;
				}
			}
		}
	}

	.mb-title-preview {
		display:block;
		font-weight:normal;
		padding:15px 0;

		p {
			border:1px solid @xlightGray;
			padding:10px;
			border-radius:4px;
		}
	}
	.mb-select {
		padding:20px 0;
	}
}

video {
	width:100%;
}



body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.relationship {
	select {
		display:none;
	}

	ol {
		list-style:none;
		margin:0;
		padding:0;
		li {
			border:1px solid @xlightGray;
			padding:5px;
			margin:5px 0;
			cursor: move;
			background:@xxlightGray;

			&.placeholder {
				padding:15px;
			}
		}
	}
}

.md-editor {
	.md-preview {
		p {
			margin-bottom:.66em;

			&:last-child {
				margin-bottom:0;
			}
		}
	}
}

@media (max-width: 991px) {
    .affix {
        position: static;
    }
}
