extends ../../layouts/default-showroom
//- Use the Showroom Default Template

block content
	.row.industry-top-row
		.col-xs-6.industry-container
			span.background-shadow.from-left
			.row.header-space
			.row
				.col-xs-10.col-lg-8.col-xs-offset-1.content-container
					+industryContent(data.industry, true)
		.col-xs-6.industry-container
			span.background-shadow.from-right
			+mediaBuffet(data.industry.media_buffet)
	.row.industry-bottom-row
		.col-xs-12.industry-service-container
			h3 Services
			+service-list(global_data.services, true, data.industry)
