extends ../../layouts/default-showroom
//- Use the Showroom Default Template

mixin service(service)
	a(href='/services/' + service.slug alt=service.title).landing-tile
		.tile-icon
			img(src="/uploads/images/#{service.icon.filename}" alt="service-icon")
		.tile-title
			span= service.title

block content
	.full-background-blur
	if data.services.results.length < 0
		.row.landing-tile-row
			each service, index in data.services.results
				+service(service)
	if data.services.results.length < 4
		.row.landing-tile-row
			each service, index in data.services.results
				+service(service)
				if index == 1
					br
					a.landing-tile.fake-tile