extends ../../layouts/default-showroom
//- Use the Showroom Default Template

block js

block content
	.col-xs-8.col-lg-6.full-height-col.settings-page.settings-page-selection
		.row.header-space-settings
		.row
			.col-xs-10.col-xs-offset-1
				h1.settings-title Settings
				.settings-fields
					.form-group(style="margin-bottom:3.5em;")
						section
							a.btn.btn-default(href=linkURI("/showroomstatus")) Check the Sync Status Page

					form#settings-form

						.form-group
							label Trade Show Name
							input(type='text', name='showname', placeholder='Trade Show Name').form-control.trade-show-name
					
						.form-actions
							button(type='submit').btn.btn-default SAVE ALL SETTINGS
					.settings-warning
						h3.settings-section-title.transfer-failure.settings-warning-text Please fill out all fields and choose an Industry below.
						h3.settings-section-title.transfer-success.settings-success-text Settings Saved Successfully!

				.settings-filter-container
					.col-xs-6.col-lg-4.settings-filter-title-container
						article.settings-filter-title
							span INDUSTRIES
					each item, index in data.industries
						.col-xs-6.col-lg-4.settings-filter-item-container.settings-filter-industry(data-settings-filter-slug=item.slug data-settings-filter-type='industry')
							article.settings-filter-item
								.settings-filter-icon.coxicon(class="coxicon_"+item.svg_icon)
								span= item.title
					.col-xs-6.col-lg-4.settings-filter-item-container.settings-filter-industry(data-settings-filter-slug='default' data-settings-filter-type='industry')
						article.settings-filter-item
							span Default
							

	.col-xs-4.col-lg-6.full-height-col.settings-page.settings-page-options
		span.background-shadow.from-right.hidden-md.hidden-lg
		.row.header-space-settings
		.row
			.col-xs-10.col-xs-offset-1.col-lg-8.col-lg-offset-2.settings-page-options-content
				h3.settings-section-title Transfer Favorites
				p.settings-section-content Transfer captured touchscreen favorites to this tablet.
				button.btn.btn-default#settings-transfer-start(onclick="") START

				h3.settings-section-title.transfer-success.cart-transfer-success Favorites Transferred Successfully!
