include ../../mixins/admin/cms-mixins

extends ../../layouts/default-admin


block content
	.container
		h1=data.current.name
		p.help-block='Created On: ' + data.current._.createdAt.format('Do MMMM YYYY h:mm:ss a')
		p.help-block='Last Edit: ' + data.current._.updatedAt.format('Do MMMM YYYY h:mm:ss a')
		form(method='post')
			input(type='hidden', name='action', value='admin-connect')
			.row
				.col-lg-8.col-md-8
					each item in data.model.uiElements
						+cms-field(item)
			.row
				.col-xs-12
					.admin-buttons
						button.btn.btn-primary Publish
						button.btn.btn-default Preview

block js
	script(src='/js/lib/bootstrap/tooltip.js')

