//Styles and Classes used throughout the site for various elements
.section-heading {
	color:@darkBlue;
	font-size:1.8em;
	line-height: 1.2;
	.showroom-screen({
		font-size: 2em;
		line-height: 1.1;
	});
}
.section-content {
	margin-bottom: 3em;
	margin-top: 1em;
	.showroom-screen({
		font-size: 1.25em;
		margin-bottom: 3.5em;
		margin-top: 2em;
	});
}

.companion-site {
	.section-heading {
		margin-bottom: 1em;
	}
	.section-content {
		margin-bottom: 2em;
		margin-top:0;
	}
}
.section-title {
	.opensans-regular();
	color:@darkBlue;
}


.shadow-normal {
	.box-shadow(2px, 2px, 5px, 0, rgba(50, 50, 50, 0.3));
}
.shadow-remove {
	.box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0));
}
.background-shadow {
	width:0px;
	height:100%;
	position: absolute;
	top:0;
	bottom:0;
	vertical-align: middle;
	&.from-left {
		left:0;
		.box-shadow(-210px, 0, 340px, 415px, rgba(0, 0, 0, 0.2));
	}
	&.from-right {
		right:0;
		.box-shadow(210px, 0, 340px, 415px, rgba(0, 0, 0, 0.2));
	}
	&.lighter {
		.box-shadow(210px, 0, 320px, 315px, rgba(0, 0, 0, 0.15));
	}	
}
.custom-dropdown {
	margin-bottom: 1.5em;
	z-index:50;
	button {
		border: 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		background:transparent !important;
		background:blue;
		width:200px;
		vertical-align: middle;
		margin-left: -12px;
		padding: 0 12px;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
		.icon-arrow {
			background:@white;
			display:inline-block;
			padding: 6px 8px;
			img {
				width: 23px;
				vertical-align: middle;
			}
		}
		.custom-dropdown-current {
			margin-left: 5px;
			display:inline-block;
			vertical-align: top;
			padding: 6px 8px;
		}
	}
	
	ul {
		border: 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		margin: 0;
		padding-top: 0;
		padding-bottom:0;
		li {
			border-bottom:1px solid @somewhatlightGray;
			&:last-child {
				border-bottom:0;
			}
			&:active, &:focus {
				outline:0;
			}
			a {
				padding: 10px 42px 10px 42px;
				.transition(0);
			}
			&:hover {
				a {
					background: @darkBlue;
					color: @white;
					.transition(0);
				}
			}
		}
	}
}
.referer-link {
	color:@darkBlue;
	margin-top: 1em;
	display: block;
	.opensans-regular();
	span {
		text-transform: uppercase;
	}
	.respond-md({
		margin-top: 5em;
	});
}
