//Styles attributed to the structure and overall layout

html {
	overflow:hidden;
	.opensans-regular();
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	-moz-osx-font-smoothing: grayscale;
}
.showroom {
	width:1024px;
	height:768px;
	//overflow:hidden; //Use this when in production to hide overflow bugs if they happen.
	.showroom-screen({
		width:1920px;
		height:1080px;
	});
}

#body {
	width:1024px;
	background:@xxlightGray;
	vertical-align: top;
	display:block;
	height:100%;
	z-index:1;
	right: -1px;
	.opensans-regular();
	.showroom-screen({
		width:1700px;
		position:relative;
		display:inline-block;
		margin-left:-5px;
	});
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight:300;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	-moz-osx-font-smoothing: grayscale;
}


.header-space {
	height: 35px;
	.showroom-screen({
		height: 125px;
	});
}
button {
	&:focus {
		outline:0 !important;
	}
}
a {
	&:hover, &.active, &:focus, &:visited {
		text-decoration: none;
	}
}
.full-height-col {
	height: 768px;
	.showroom-screen({
		height:1080px;
	});
}
.container-fluid {
	overflow: hidden;
	padding:0;
}

// If you need 5 columns..
.col-xs-15 {
    width: 20%;
    float: left;
}
.col-sm-15 {
    width: 20%;
    float: left;
}
.col-md-15 {
    width: 20%;
    float: left;
}
.col-lg-15 {
	width: 20%;
	float: left;
}

