//Global Styles for Navigation

.navigation-item {
	color:@lightGray;
	text-transform: uppercase;
	text-decoration: none;
	.opensans-regular();
}
.navigation-item-list {
	padding:0;
	margin:0;
	display:block;
	list-style-type: none;
	li {
		&:hover, &.active {
			a {
				background-color:@lightBlue;
				color:@white;
			}
		}
	}
}

.navigation-logo {
	background-color:@darkBlue;
	color:@white;
}
.navigation-solution-finder {
	background-color:@white;
	color:@darkBlue;
	.opensans-regular();
	span {
		.opensans-semibold();
	}
}
.navigation-restart {
	background-color:@regularGray;
	color:@white;
	&:hover, &.active {
		background-color:@lightBlue;
		color:@white;
	}
}
