//Global Styles for Navigation

.navigation-item {
	color:@lightGray;
	text-transform: uppercase;
	text-decoration: none;
	.opensans-regular();
}
.navigation-item-list {
	padding:0;
	margin:0;
	display:block;
	list-style-type: none;
	li {
		&:hover, &.active {
			a {
				background-color:@lightBlue;
				color:@white;
			}
		}
	}
}

.navigation-logo {
	background-color:@darkBlue;
	color:@white;
}
.navigation-solution-finder {
	background-color:@white;
	color:@darkBlue;
	.opensans-regular();
	span {
		.opensans-semibold();
	}
}
.navigation-restart {
	background-color:@regularGray;
	color:@white;
	&:hover, &.active {
		background-color:@lightBlue;
		color:@white;
	}
}
.navigation-toggle {
	z-index:9;
	position: absolute;
	top:0;
	left:0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:0;
	background-color:@darkBlue;
	padding: 0.7em 0.8em;
	&:focus, &:active {
		outline:0;
	}
	.showroom-screen({
		display:none;
	});
	.icon-bar {
		display: block;
		height: 3px;
		margin: 4px 0;
		background-color: #FFF;
		width: 23px;
	}
}